<!--Barra de navegación -->
<nav
  class="navbar navbar-expand-lg fixed-top navbar-transparent"
  color-on-scroll="100"
  id="navbar-top"
>
  <div class="container">
    <div class="navbar-translate">
      <a
        class="navbar-brand"
        [routerLink]="['/inicio']"
        placement="bottom"
        tooltip="Ir al inicio"
      >
        <span> TEConstruye• </span> 
      </a>
      <button
        aria-controls="navigation-index"
        aria-label="Toggle navigation"
        class="navbar-toggler navbar-toggler"
        [attr.aria-expanded]="!isCollapsed"
        (click)="isCollapsed = !isCollapsed"
        id="navigation"
        type="button"
      >
        <span class="navbar-toggler-bar bar1"> </span>
        <span class="navbar-toggler-bar bar2"> </span>
        <span class="navbar-toggler-bar bar3"> </span>
      </button>
    </div>
    <div
      class="navbar-collapse justify-content-end"
      [collapse]="isCollapsed"
      id="navigation"
    >
      <div class="navbar-collapse-header">
        <div class="row">
          <div class="col-6 collapse-brand"><a> TEConstruye• </a></div>
          <div class="col-6 collapse-close text-right">
            <button
              aria-controls="navigation-index"
              aria-label="Toggle navigation"
              class="navbar-toggler"
              [attr.aria-expanded]="!isCollapsed"
              (click)="isCollapsed = !isCollapsed"
              id="navigation"
              type="button"
            >
              <i class="tim-icons icon-simple-remove"> </i>
            </button>
          </div>
        </div>
      </div>
      <ul class="navbar-nav">
        <li class="nav-item p-0">
          <a
            class="nav-link"
            href="https://twitter.com/CreativeTim"
            placement="bottom"
            target="_blank"
            tooltip="Follow us on Twitter"
          >
            <i class="fab fa-twitter"> </i>
            <p class="d-lg-none d-xl-none">Twitter</p>
          </a>
        </li>
        <li class="nav-item p-0">
          <a
            class="nav-link"
            href="https://www.facebook.com/CreativeTim"
            placement="bottom"
            target="_blank"
            tooltip="Like us on Facebook"
          >
            <i class="fab fa-facebook-square"> </i>
            <p class="d-lg-none d-xl-none">Facebook</p>
          </a>
        </li>
        <li class="nav-item p-0">
          <a
            class="nav-link"
            href="https://www.instagram.com/CreativeTimOfficial"
            placement="bottom"
            target="_blank"
            tooltip="Follow us on Instagram"
          >
            <i class="fab fa-instagram"> </i>
            <p class="d-lg-none d-xl-none">Instagram</p>
          </a>
        </li>
        
        <li class="nav-item">
          <a
            class="nav-link"
            [routerLink]="['/ingresar']"
          >
            Ya tienes una cuenta?
          </a>
        </li>
      </ul>
    </div>
  </div>
</nav>
<div class="wrapper">
  <div class="page-header">
    <div class="page-header-image"></div>
    <div class="content">
      <div class="container">
        <div class="row">
          <div class="col-lg-5 col-md-6 offset-lg-0 offset-md-3">
            <div class="square square-7" id="square7"></div>
            <div class="square square-8" id="square8"></div>
            <div class="card card-register">
              <div class="card-header">
                
                <!--Formulario de registro-->
                <p class="card-title text-white justify-content-end" >Registrar</p>
                <h1>ingeniero</h1>
              </div>
              <div class="card-body">
                <form class="form">
                  <div
                    class="input-group"
                    [ngClass]="{ 'input-group-focus': focus === true }"
                  >

                  <!--Caja de texto para el nombre completo-->
                    <div class="input-group-prepend">
                      <div class="input-group-text">
                        <i class="tim-icons icon-single-02"> </i>
                      </div>
                    </div>
                    <!--Caja de texto para el nombre-->
                    <input
                      class="form-control"
                      placeholder="Nombre"
                      type="text"
                      (focus)="focus = true"
                      (blur)="focus = false"
                    />
                    <!--Caja de texto para el primer apellido-->
                    <input
                      class="form-control"
                      placeholder="Primer apellido"
                      type="text"
                      (focus)="focus = true"
                      (blur)="focus = false"
                    />
                    <!--Caja de texto para el segundo apellido-->
                    <input
                      class="form-control"
                      placeholder="Segundo apellido"
                      type="text"
                      (focus)="focus = true"
                      (blur)="focus = false"
                    />
                                     
                  </div>

                  <!--Caja de texto para Cédula-->
                  <div
                    class="input-group"
                    [ngClass]="{ 'input-group-focus': focus1 === true }"
                  >
                    <div class="input-group-prepend">
                      <div class="input-group-text">
                        <i class="tim-icons icon-credit-card"> </i>
                      </div>
                    </div>
                    <input
                      class="form-control"
                      placeholder="Cédula"
                      type="number"
                      (focus)="focus1 = true"
                      (blur)="focus1 = false"
                    />
                  </div>

                  
                  <!--Caja de texto para Teléfono-->
                  <div
                    class="input-group"
                    [ngClass]="{ 'input-group-focus': focus1 === true }"
                  >
                    <div class="input-group-prepend">
                      <div class="input-group-text">
                        <i class="tim-icons icon-mobile"> </i>
                      </div>
                    </div>
                    <input
                      class="form-control"
                      placeholder="Teléfono"
                      type="number"
                      (focus)="focus1 = true"
                      (blur)="focus1 = false"
                    />
                  </div>
                  <!--Caja de texto para Email-->
                  <div
                    class="input-group"
                    [ngClass]="{ 'input-group-focus': focus1 === true }"
                  >
                    <div class="input-group-prepend">
                      <div class="input-group-text">
                        <i class="tim-icons icon-email-85"> </i>
                      </div>
                    </div>
                    <input
                      class="form-control"
                      placeholder="Email"
                      type="text"
                      (focus)="focus1 = true"
                      (blur)="focus1 = false"
                    />
                  </div>

                  <!--Caja de texto para contraseña-->
                  <div
                    class="input-group"
                    [ngClass]="{ 'input-group-focus': focus2 === true }"
                  >
                    <div class="input-group-prepend">
                      <div class="input-group-text">
                        <i class="tim-icons icon-lock-circle"> </i>
                      </div>
                    </div>
                    <input
                      class="form-control"
                      placeholder="Password"
                      type="text"
                      (focus)="focus2 = true"
                      (blur)="focus2 = false"
                    />
                  </div>

                  <!--Dropdown para especialidad-->
                  <div
                    class="input-group"
                    [ngClass]="{ 'input-group-focus': focus1 === true }"
                  >
                    
                     <div class="dropdown nav-item" dropdown>
                      <a
                        class="dropdown-toggle nav-link dropdown-toggle"
                        data-toggle="dropdown"
                        dropdownToggle
                        href="javascript:void(0)"
                      >
                      <i class="tim-icons icon-badge"> </i> especialidad
                      </a>
                      <div class="dropdown-menu dropdown-with-icons" *dropdownMenu>
                        <a
                          class="dropdown-item"
                          [routerLink]="['/registro']"
                        >
                       Civil
                        </a>
                        <a class="dropdown-item" >
                          Eléctrico
                        </a>
                        <a class="dropdown-item" [routerLink]="['/registro']">
                            Construcción
                          </a>              
                      </div>
                    </div>
                  </div>
                  <!--Caja de selección términos y condiciones-->
                  <div class="form-check text-left">
                    <label class="form-check-label">
                      <input class="form-check-input" type="checkbox" />

                      <span class="form-check-sign"> </span> 
                      <a href="javascript:void(0)"> Acepto los términos  y las condiciones </a> .
                    </label>
                  </div>
                </form>
              </div>
              <div class="card-footer">
                <a
                  class="btn btn-danger btn-round btn-lg"
                  href="javascript:void(0)"
                >
                  Crear cuenta
                </a>
              </div>
            </div>
          </div>
        </div>
        <div class="register-bg"></div>
        <div class="square square-1" id="square1"></div>
        <div class="square square-2" id="square2"></div>
        <div class="square square-3" id="square3"></div>
        <div class="square square-4" id="square4"></div>
        <div class="square square-5" id="square5"></div>
        <div class="square square-6" id="square6"></div>
      </div>
    </div>
  </div>
  <footer class="footer">
    <div class="container">
      <div class="row">
        <div class="col-md-3"><h1 class="title">TEConstruye•</h1></div>
        <div class="col-md-3">
          <ul class="nav">
            <li class="nav-item">
              <a class="nav-link" [routerLink]="['/home']"> Inicio </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" [routerLink]="['/landing']"> Landing </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" [routerLink]="['/register']"> Registrarse </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" [routerLink]="['/profile']"> Perfil </a>
            </li>
          </ul>
        </div>
        <div class="col-md-3">
          <ul class="nav">
            <li class="nav-item">
              <a class="nav-link" href="https://creative-tim.com/contact-us?ref=blkdsa-footer">
                Contáctenos
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="https://creative-tim.com/about-us?ref=blkdsa-footer">
                Sobre esta página
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="https://creative-tim.com/blog?ref=blkdsa-footer">
                Blog
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="https://opensource.org/licenses/MIT">
                Licencia
              </a>
            </li>
          </ul>
        </div>
        <div class="col-md-3">
          <h3 class="title">Siguenos:</h3>
          <div class="btn-wrapper profile">
            <a
              class="btn btn-icon btn-neutral btn-round btn-simple mr-1"
              href="https://twitter.com/creativetim"
              target="_blank"
            >
              <i class="fab fa-twitter"> </i>
            </a>
            <a
              class="btn btn-icon btn-neutral btn-round btn-simple mr-1"
              href="https://www.facebook.com/creativetim"
              target="_blank"
            >
              <i class="fab fa-facebook-square"> </i>
            </a>
            <a
              class="btn btn-icon btn-neutral btn-round btn-simple"
              href="https://dribbble.com/creativetim"
              target="_blank"
            >
              <i class="fab fa-dribbble"> </i>
            </a>
          </div>
        </div>
      </div>
    </div>
  </footer>
</div>
